<%= form_for(@gotram) do |f| %>
  <% if @gotram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gotram.errors.count, "error") %> prohibited this gotram from being saved:</h2>

      <ul>
      <% @gotram.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,:id=>'dname',:onChange=>"capitalizeMe(this)"%>
	    <script type="text/javascript">
        var dname = new LiveValidation('dname');
        dname.add(Validate.Presence)
    </script>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,:cols => 30, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

