
<center>
<%= link_to 'New Gotram', new_gotram_path %> <br /><br />
<table id='listGotrams'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>

  </tr>
  </thead>
  <tbody>
<% @gotrams.each do |gotram| %>
  <tr>
    <td><%= gotram.name %></td>
    <td><%= gotram.description %></td>
    <td><%= link_to 'Show', gotram %></td>
    <td><%= link_to 'Edit', edit_gotram_path(gotram) %></td>
<!--     <td><%= link_to 'Destroy', gotram, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
  </tbody>
</table>
</center>
<br />


<script>
$('#listGotrams').fixheadertable({
    caption     : 'List Gotrams',
    colratio    : [150, 650],
    height      : 200,
    width       : 800,
    zebra       : false,
    sortable    : true,
    sortedColId : 1,
    sortType    : ['string', 'string'],
    dateFormat  : 'm/d/Y',
    pager       : true,
    rowsPerPage : 10,
    resizeCol	: true
});
</script>

