<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gotram.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gotram.description %>
</p>

<%= link_to 'Edit', edit_gotram_path(@gotram) %> 
<%= link_to 'Back', gotrams_path %>

