body { margin: 0; background-color: #ffad34; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


a {
   border-top: 1px solid #030303;
   background: #1f2021;
   background: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#1f2021));
   background: -moz-linear-gradient(top, #080808, #1f2021);
   padding: 5.5px 11px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #fa8c05;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
a:hover {
   border-top-color: #eb9705;
   background: #eb9705;
   color: #000000;
   }
a:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.container { width: 950px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-12 { width: 470px; }
.last { margin-right: 0; }
hr{
    border: 1px dotted #D94F00;
}

h1, h2, h3, h4, h5, h6 {
    color: #D94F00;
}

.bodyContent{
        border: 1px solid #D94F00;
        margin-top: 20px;
        padding: 20px;
}

