<center>
    <h3>MANTRALAYAM SRI RAGAHAVENDRASWAMY MUTT, MALKAJGIRI (Branch)<h3>
        </center>
        <center>
            <h3>GENERAL SEVA REPORT<h3>
                </center>
<%if @sevas.blank?%>
<br /><br /><br /><br />
<p align="center">No Records Found.</p>
<%else%>
                <p align="left">
                    From <%= params[:start_date] %>  To <%= params[:end_date]%>
                    <p>
<table align="center" width="100%">
	<tr>
		<td width="5%">No</td>	
		<td width="20%">RECEIPT</td>
		<td width="50%">NAME</td>
		<td width="25%">GOTHRM</td>
	</tr>
</table>
<br/>
<% for seva in @sevas %>
<% unless seva.name == "Others" %>
<%= seva.name.upcase %>
<table align="center" width="100%">
	<% i = 1%>
    <% for seva_booking in seva.seva_bookings %>
		<tr>
		<td width="5%"><%= i %></td>
        <td width="20%"><%=seva_booking.reciept_number %></td>
		<td width="50%"><%=seva_booking.devotee_name %></td>
		<td width="25%"><%=seva_booking.gotram.name %></td>
		</tr>
		<% i = i + 1%>
    <% end %>
<%else %>
<%end %>
</table>
<br/>
<% end %>
<%end%>
