<div id = 'holderSevaBookings'>
<center/><%= link_to 'New Seva Booking', new_seva_booking_path %>
<%= link_to 'EOD Report', {:controller=> 'seva_bookings', :action=>'eodreport'} %>
<%= link_to 'Seva Report', {:controller=> 'seva_bookings', :action=>'date_range_report'} %>
<%= link_to 'Date Range Report', {:controller=> 'seva_bookings', :action=>'seva_report'} %>
</center>
<br/>
<center>
    <%= link_to 'Print EOD Report', {:action=>'eodreport_print'} %>

    <%= link_to 'Other EOD Report', {:action=>'othereodreport'} %>
</center>
<br/>
<table id='listSevaBookings'>
    <thead>
        <tr>
            <th>
                Seva
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Total Receipts
            </th>
            <th>
                Rate
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        <% @sevas.each do |seva| %>
		<% unless seva.name == "Others"%>
        <tr>
            <td>
                <%= seva.name %>
            </td>
            <td>
                <%= seva.seva_bookings.first.reciept_number %>
            </td>
            <td>
                <%= seva.seva_bookings.last.reciept_number %>
            </td>
            <td>
                <%= seva.seva_bookings.size %>
            </td>
            <td>
                <%= seva.seva_bookings.first.amount.to_i %>
            </td>
            <td>
                <%= (seva.seva_bookings.first.amount * seva.seva_bookings.size).to_i %>
            </td>
        </tr>
		<%else%>
		<%end%>
        <% end %>
    </tbody>
</table>
<script>
    $('#listSevaBookings').fixheadertable({
        caption: 'EOD Report for <%= Date.today.strftime("%d-%m-%Y")%>',
        colratio: [50, 150, 150],
        height: 200,
        width: 950,
        zebra: false,
        sortable: true,
        sortedColId: 1,
        sortType: ['integer', 'date', 'string', 'string', 'string', 'date'],
        dateFormat: 'm/d/Y',
        pager: true,
        rowsPerPage: 10,
        resizeCol: true
    });
</script>
</div>
