<h3>General Reciept</h3>
<hr/>

<%= form_for(@seva_booking) do |f| %>
  <% if @seva_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seva_booking.errors.count, "error") %> prohibited this seva_booking from being saved:</h2>

      <ul>
      <% @seva_booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :devotee_name, "Devotee Name" %><br />
     <%= f.text_field :devotee_name,:id=>'dname',:onChange=>"capitalizeMe(this)" %>
	<script type="text/javascript">
				var dname = new LiveValidation('dname');
				dname.add(Validate.Presence)
	</script>
  </div>
  <div class="field">
    <%= f.label :gotram %><br />
    <%= collection_select(:seva_booking, :gotram_id, @gotrams, :id, :name, :prompt=> "Select Gotram") %>
			<script type="text/javascript">
				var seva_booking_gotram_id = new LiveValidation('seva_booking_gotram_id');
				seva_booking_gotram_id.add(Validate.Presence)
	</script>
  </div>
    <div class="field" style="display:none" id="gotram_name">
    <%= f.label :gotram %><br />
    <%= f.text_field :gotram_name,:onChange=>"capitalizeMe(this)" %>
  </div>
  <div class="field">
    <%= f.label :seva %><br />
    <%= collection_select(:seva_booking, :seva_id, @sevas, :id, :name, :prompt=> "Select Seva") %>
			<script type="text/javascript">
				var seva_booking_seva_id = new LiveValidation('seva_booking_seva_id');
				seva_booking_seva_id.add(Validate.Presence)
	</script>
  </div>
  <div class="field" style="display:none" id="seva_name">
    <%= f.label :seva %><br />
    <%= f.text_field :seva_name,:onChange=>"capitalizeMe(this)" %>
  </div>
  <div class="field">
    <%= f.label :seva_date, "Seva Date" %><br />
    <%= f.date_select :seva_date,:start_year => Date.current.year, :end_year => Date.current.year + 25,:order => [:day, :month, :year] %>
  </div>
   <%= f.hidden_field :booking_date, :value=>Time.now.strftime('%d-%b-%Y') %>
  <div class="field">
    <%= f.label :no_of_persons, "No.of Persons" %><br />
    <%= f.text_field :no_of_persons,:id=>'persons' %>
			<script type="text/javascript">
				var persons = new LiveValidation('persons');
				
				persons.add(Validate.Numericality, {
                    onlyInteger: true
                });
	</script>
  </div>

  <div class="field"  id="amount">
    <%= f.label :amount %><br />
    <%= f.text_field :amount,:id=>'ramount' %>
		<script type="text/javascript">
				var ramount = new LiveValidation('ramount');
				ramount.add(Validate.Presence);
				ramount.add(Validate.Numericality, {
                    onlyInteger: true
                });
	</script>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', seva_bookings_path %>

<script>
jQuery(function($) {
  $('#seva_booking_seva_id').bind('change', function() {
    if($('#seva_booking_seva_id option:selected').text() == "Others"){
      $('#seva_name').show();
      $('#amount').show();
    }else
	{ $('#seva_name').hide();}
  })
  $('#seva_booking_gotram_id').bind('change', function() {
    if($('#seva_booking_gotram_id option:selected').text() == "Others"){
      $('#gotram_name').show();
    }
	else
	{$('#gotram_name').hide();}
  })
});
</script>

