<div id = 'holderSevaBookings'>
	<center/>
		<%= link_to 'New Seva Booking', new_seva_booking_path %>
		<%= link_to 'EOD Report', {:controller=> 'seva_bookings', :action=>'eodreport'} %>
		<%= link_to 'Seva Report', {:controller=> 'seva_bookings', :action=>'date_range_report'} %>
		<%= link_to 'Date Range Report',{:controller=> 'seva_bookings', :action=>'seva_report'} %>
	</center>
	<br />

	<table id='listSevaBookings'>
		<thead>
			<tr>
				<th>R.No</th>
				<th>Booking Date</th>
				<th>Devotee Name</th>
				<th>Gotram</th>
				<th>Seva</th>
				<th>Seva Date</th>
				<th>Persons</th>
				<th>Rate</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @seva_bookings.each do |seva_booking| %>
			<tr>
				<td><%= seva_booking.reciept_number %></td>
				<td><%= seva_booking.booking_date.strftime('%d-%m-%Y') %></td>
				<td><%= seva_booking.devotee_name %></td>
				<%if seva_booking.gotram.name == "Others"%>
				<td><%= seva_booking.gotram_name %>(O)</td>
				<%else%>
				<td><%= seva_booking.gotram.name %></td>
				<%end%>
				<% if seva_booking.seva.name == "Others" -%>
				<td><%= seva_booking.seva_name %>(O)</td>
				<% else -%>
				<td><%= seva_booking.seva.name %></td>
				<% end -%>

				<td><%= seva_booking.seva_date.strftime('%d-%m-%Y') %></td>
				<td><%= seva_booking.no_of_persons %></td>
				<td><%= seva_booking.amount %></td>
				<td><%= link_to 'View', seva_booking %>
				<%= link_to 'Edit', edit_seva_booking_path(seva_booking) %>
<!--				<%= link_to 'Destroy', seva_booking, :confirm => 'Are you sure?', :method => :delete %>-->
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<script>$('#listSevaBookings').fixheadertable({
			caption     : 'List of All Seva Bookings',
			colratio    : [20, 150,150],
			height      : 200,
			width       : 950,
			zebra       : false,
			sortable    : true,
			sortedColId : 1,
			sortType    : ['string', 'date','string','string','string','date'],
			dateFormat  : 'd/m/Y',
			pager       : true,
			rowsPerPage : 10,
			resizeCol	: true
		});</script>
</div>

