<center>
    <h3>MANTRALAYAM SRI RAGAHAVENDRASWAMY MUTT, MALKAJGIRI (Branch)<h3>
        </center>
        <center>
            <h3>ACCOUNT SUMMARY REPORT (OTHERS)<h3>
                </center>

                <p align="left">
                    For <%= Date.today.strftime("%d-%m-%Y") %>
                    <p>
      
        <table align="center" width="100%" >
          <thead>
          <tr>
            <td width="10%">Rec. No</td>
            <td width="25%">Particulars</td>
            <td width="50%">Description</td>
            <td width="15%">Amount (Rs.)</td>
          </tr>
          </thead>
          <tbody>
        <% @eodreport.each do |seva_booking| %>
          <tr>
            <td><%= seva_booking.reciept_number %></td>
            <td><%= seva_booking.devotee_name %></td>
            <td><%= seva_booking.seva_name %></td>
            <td align="right"><%= seva_booking.amount %></td>
          </tr>
        <% end %>
		<tr>
			<td colspan="3"align="right">Total</td>
			<td align="right"><%= @eodreport.sum(&:amount)%></td>
		</tr>
          </tbody>
        </table>
        
