<div id = 'holderSevaBookings'>
        <center/><%= link_to 'New Seva Booking', new_seva_booking_path %>
        <%= link_to 'EOD Report', {:controller=> 'seva_bookings', :action=>'eodreport'} %>
        <%= link_to 'Seva Report', {:controller=> 'seva_bookings', :action=>'date_range_report'} %>
        <%= link_to 'Date Range Report', {:controller=> 'seva_bookings', :action=>'seva_report'}%>
        </center>
        <br />
        <center><%= link_to 'Print Other EOD Report', {:action=>'othereodreport_print'}  %></center>
        <br />
		
        <table id='listSevaBookings'>
          <thead>
          <tr>
            <th>Rcpt No</th>
            <th>Booking date</th>
            <th>Devotee name</th>
            <th>Gotram</th>
            <th>Seva</th>
            <th>Seva date</th>
            <th>No of persons</th>
            <th>Rate </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
        <% @eodreport.each do |seva_booking| %>
          <tr>
            <td><%= seva_booking.reciept_number %></td>
            <td><%= seva_booking.booking_date.strftime("%d-%m-%Y") %></td>
            <td><%= seva_booking.devotee_name %></td>

            	<%if seva_booking.gotram.name == "Others"%>
				<td>
				<%= seva_booking.gotram_name %>
				</td>
				<%else%>
				<td>
				<%= seva_booking.gotram.name %>
				</td>
				<%end%>
             <td><%= seva_booking.seva_name %>(O)</td>
            <td><%= seva_booking.seva_date.strftime("%d-%m-%Y") %></td>
            <td><%= seva_booking.no_of_persons %></td>
            <td><%= seva_booking.amount %></td>
            <td><%= link_to 'Show', seva_booking %>
            <%= link_to 'Edit', edit_seva_booking_path(seva_booking) %>
            <%= link_to 'Destroy', seva_booking, :confirm => 'Are you sure?', :method => :delete %>
          </tr>
        <% end %>
          </tbody>
        </table>



        <script>
        $('#listSevaBookings').fixheadertable({
            caption     : 'Others EOD Report for <%= Date.today.strftime("%d-%m-%Y")%>',
            colratio    : [50, 150,150],
            height      : 200,
            width       : 950,
            zebra       : false,
            sortable    : true,
            sortedColId : 1,
            sortType    : ['integer', 'date','string','string','string','date'],
            dateFormat  : 'm/d/Y',
            pager       : true,
            rowsPerPage : 10,
            resizeCol	: true
        });
        </script>		
</div>