<html>
<head>
</head>
<body>
<br>
<br>
<br>
<p align="right">Booking Date:<%= @seva_booking.booking_date.strftime("%d-%m-%Y") %></p>
<style>
table{
	font: 11px;
}
</style>

<table>
	<tr>
		<td>Receipt No</td>
		<td>:&nbsp;</td>
		<td><%= @seva_booking.reciept_number %></td>
	</tr>
	<tr>
		<td>Name</td>
		<td>:&nbsp;</td>
		<td><%= @seva_booking.devotee_name %></td>
	</tr>
	<tr>
		<td>Gothram</td>
		<td>:&nbsp;</td>
		<td><%= @seva_booking.gotram.name.capitalize %></td>
	</tr>
	<tr>
		<td>Seva</td>
		<td>:&nbsp;</td>
				<% if @seva_booking.seva.name =="Others" -%>
		<td>
		<%= @seva_booking.seva_name %>
		</td>
		<% else -%>
		<td>
		<%= @seva_booking.seva.name %>
		</td>
		<% end -%>
	</tr>
	<tr>
		<td>Seva Date</td>
		<td>:&nbsp;</td>
		<td><%= @seva_booking.seva_date.strftime("%d-%m-%Y") %></td>
	</tr>

	<tr>
		<td>Amount</td>
		<td>:&nbsp;</td>
		<td>Rs.<%= @seva_booking.amount %> /-</td> 
	</tr>
	<tr>
		<td colspan="2">
		<td>(In Words: Rupees <%= @seva_booking.amount.to_english.capitalize %> only.)</td>
	</tr>	
</table>
</body>
