<div id = 'holderSevaBookings'>
        <center/><%= link_to 'New Seva Booking', new_seva_booking_path %>
        <%= link_to 'EOD Report', {:controller=> 'seva_bookings', :action=>'eodreport'} %>
        <%= link_to 'Seva Report', {:controller=> 'seva_bookings', :action=>'date_range_report'} %>
        <%= link_to 'Date Range Report', {:controller=> 'seva_bookings', :action=>'seva_report'}%>
        </center>
        <center>
        <br />
        <center><%= link_to 'Print Date Range Report', {:action=>'seva_report_print', :start_date=> params[:start_date]? params[:start_date]:'', :end_date => params[:end_date]? params[:end_date]:'' }  %></center>
        <br />

        <%= form_tag  do -%>
          Start Date : <%= text_field_tag 'start_date',  params[:start_date]? params[:start_date]:'' %>
          End Date : <%= text_field_tag 'end_date', params[:end_date]? params[:end_date]:'' %>
          <%= submit_tag 'Get' %>
        <% end -%>
        </center>

       <table id='listSevaBookings'>
          <thead>
          <tr>
            <th>Rcpt No</th>
            <th>Booking date</th>
            <th>Devotee name</th>
            <th>Gotram</th>
            <th>Seva</th>
            <th>Seva date</th>
            <th>No of persons</th>
            <th>Rate</th>
          </tr>
          </thead>
          <tbody>
        <% @rangereport.each do |seva_booking| %>
          <tr>
            <td><%= seva_booking.reciept_number %></td>
            <td><%= seva_booking.booking_date.strftime("%d-%m-%Y") %></td>
            <td><%= seva_booking.devotee_name %></td>
            <td><%= seva_booking.gotram.name %></td>
               <td><%= seva_booking.seva.name %></td>

            <td><%= seva_booking.seva_date.strftime("%d-%m-%Y") %></td>
            <td><%= seva_booking.no_of_persons %></td>
            <td><%= seva_booking.amount %></td>
          </tr>
        <% end %>
          </tbody>
        </table>



        <script>
        $('#listSevaBookings').fixheadertable({
            caption     : 'List All Seva Bookings',
            colratio    : [50, 150,150],
            height      : 200,
            width       : 950,
            zebra       : false,
            sortable    : true,
            sortedColId : 1,
            sortType    : ['integer', 'date','string','string','string','date'],
            dateFormat  : 'm/d/Y',
            pager       : true,
            rowsPerPage : 10,
            resizeCol	: true
        });
        </script>

        <script>
	          $(function() {
		          $( "#start_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
		          $( "#end_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
	          });
      	</script>
</div>


