<center>
    <h3>MANTRALAYAM SRI RAGAHAVENDRASWAMY MUTT, MALKAJGIRI (Branch)<h3>
        </center>
        <center>
            <h3>ACCOUNT SUMMARY REPORT<h3>
                </center>
				<br /><br />
<%if @sevas.blank?%>
<br /><br /><br /><br />
<p align="center">No Records Found.</p>
<%else%>
                <p align="left">
                    From: <%= params[:start_date]%> To: <%= params[:end_date]%>
                    <p>
                        <table align="center" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        Seva Particulars
                                    </th>
                                    <th>
                                        From
                                    </th>
                                    <th>
                                        To
                                    </th>
                                    <th>
                                        Total Receipts
                                    </th>
                                    <th>
                                        Rate
                                    </th>
                                    <th>
                                        Amount (Rs.)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% total_amount,total_reciepts = 0,0 %>
                                <% @sevas.each do |seva| %>
                                <% unless seva.name == "Others" %>
                                <tr>
                                    <td>
                                        <%= seva.name %>
                                    </td>
                                    <td>
                                        <%= seva.seva_bookings.first.reciept_number %>
                                    </td>
                                    <td>
                                        <%= seva.seva_bookings.last.reciept_number %>
                                    </td>
                                    <td align="right">
                                    	<%total_reciepts += seva.seva_bookings.size %>
                                        <%= seva.seva_bookings.size %>
                                    </td>
                                    <td align="right">
                                        <%= seva.seva_bookings.first.amount.to_i %>
                                    </td>
                                    <td align="right">
                                    	<% total_amount += (seva.seva_bookings.first.amount * seva.seva_bookings.size).to_i %>
                                        <%= (seva.seva_bookings.first.amount * seva.seva_bookings.size).to_i %>
                                    </td>
                                </tr>
                                <%else %>
								
                                <%end %>
                              
                                <% end %>
                                <tr>
                                    <td colspan="3">
                                        Total
                                    </td>
                                    <td align="right">
                                        <b><%=total_reciepts%></b>
                                    </td>
                                    <td colspan="2" align="right"><b><%= total_amount %></b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
<%end%>
