<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Devotee Name:</b>
	<%= @seva_booking.devotee_name %>
</p>
<p>
	<b>Gotram:</b>
	<% if @seva_booking.gotram.name == "Others"%>
	<%= @seva_booking.gotram_name%>
	<%else%>
	<%= @seva_booking.gotram.name %>
	<%end%>
</p>
<p>
	<b>Seva:</b>
	<% if @seva_booking.seva.name == "Others"%>
	<%= @seva_booking.seva_name%>
	<% else%>
	<%= @seva_booking.seva.name %>
	<%end%>
</p>
<p>
	<b>Seva Date:</b>
	<%= @seva_booking.seva_date.strftime('%d-%m-%Y') %>
</p>
<p>
	<b>Booking Date:</b>
	<%= @seva_booking.booking_date.strftime('%d-%m-%Y') %>
</p>
<p>
	<b>No of Persons:</b>
	<%= @seva_booking.no_of_persons %>
</p>
<% if @seva_booking.reciept_number? -%>
<p>
	<b>Reciept Number</b>
	<%= @seva_booking.reciept_number %>
</p>
<% else -%>

<% end -%>

<br />
<%= link_to 'Edit', edit_seva_booking_path(@seva_booking) %> &nbsp;
<%= link_to 'Back', seva_bookings_path %> &nbsp;
<%= link_to "Print Invoice", {:action=>'print'}%>

