<%= form_for(@seva) do |f| %>
<% if @seva.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@seva.errors.count, "error") %>prohibited this seva from being saved:</h2>
    <ul>
        <% @seva.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name,:id=>'dname',:onChange=>"capitalizeMe(this)" %>
    <script type="text/javascript">
        var dname = new LiveValidation('dname');
        dname.add(Validate.Presence)
    </script>
</div>
<div class="field">
    <%= f.label :name, "Short Name (Max. 3 Characters)" %>
    <br/>
    <%= f.text_field :short_code,:id=>'cname' %>
    <script type="text/javascript">
        var cname = new LiveValidation('cname');
        cname.add(Validate.Presence);
		cname.add( Validate.Length, { is: 3 } );
    </script>
</div>
<div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description,:cols => 30, :rows => 5 %>
</div>
<div class="field">
    <%= f.label :rate %>
    <br/>
    <%= f.text_field :rate,:id=>'ramount' %>
    <script type="text/javascript">
        var ramount = new LiveValidation('ramount');
        ramount.add(Validate.Presence);
        ramount.add(Validate.Numericality, {
            onlyInteger: true
        });
    </script>
</div>
<div class="field">
    <%= f.label :maximum_number_of_persons,"Maximum Number of Persons" %>
    <br/>
    <%= f.text_field :max_persons,:id=>'persons' %>
    <script type="text/javascript">
        var persons = new LiveValidation('persons');
        
        persons.add(Validate.Numericality, {
            onlyInteger: true
        });
    </script>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
