<center><%= link_to 'New Seva', new_seva_path %>
<%= link_to 'Print Seva Report', :action=>'sevareport' %>
</center>
<br />
<center>
<table id ="listSevas">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Short Name</th>
    <th>Rate</th>
    <th>Persons</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @sevas.each do |seva| %>
  <tr>
    <td><%= seva.name %></td>
    <td><%= seva.description %></td>
	<td><%= seva.short_code %></td>
    <td><%= seva.rate.to_i %></td>
    <td><%= seva.max_persons %></td>
    <td><%= link_to 'Show', seva %></td>
    <td><%= link_to 'Edit', edit_seva_path(seva) %></td>
<!--     <td><%= link_to 'Destroy', seva, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</tbody>
</table>
</center>
<script>
$('#listSevas').fixheadertable({
    caption     : 'List of Sevas',
    colratio    : [150, 650],
    height      : 200,
    width       : 800,
    zebra       : false,
    sortable    : true,
    sortedColId : 1,
    sortType    : ['string', 'string'],
    dateFormat  : 'm/d/Y',
    pager       : true,
    rowsPerPage : 10,
    resizeCol	: true
});
</script>

