<center>
    <h3>MANTRALAYAM SRI RAGAHAVENDRASWAMY MUTT, MALKAJGIRI (Branch)<h3>
        </center>
        <center>
            <h3>SEVA REPORT<h3>
                </center>
      
<table align="center" width="100%" >
  <thead>
  <tr>
    <th scope="col">Name</th>
	<th scope="col">Short Code</th>
    <th scope="col"> Rate</th>
    <th scope="col">Persons</th>
  </tr>
  </thead>
  <tbody>
<% @sevas.each do |seva| %>
<% unless seva.name == "Others"%>
  <tr>
    <td><%= seva.name %></td>
	<td><%= seva.short_code %></td>
    <td align="right"><%= seva.rate.to_i %></td>
    <td align="right"><%= seva.max_persons %></td>
  </tr>
 <%else%>
 <%end%>
<% end %>
</tbody>
</table>
