<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seva.name %>
</p>
<p>
  <b>Short Name:</b>
  <%= @seva.short_code %>
</p>
<p>
  <b>Description:</b>
  <%= @seva.description %>
</p>

<p>
  <b>Rate:</b>
  Rs.<%= @seva.rate %>
</p>

<p>
  <b>Maximum Number of Persons</b>
  Rs.<%= @seva.max_persons %>
</p>


<%= link_to 'Edit', edit_seva_path(@seva) %> 
<%= link_to 'Back', sevas_path %>

